<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qzh.epidemic.mapper.TimeLineMapper">

    <insert id="addTimeLines" parameterType="list">
        insert ignore
        into timeline
        ( id,pubDate,pubDateStr,title,summary,infoSource,sourceUrl,provinceId)
        values
        <foreach collection="timelines" item="timeline" index="index" separator=",">
            (
            #{timeline.id}, #{timeline.pubDate},#{timeline.pubDateStr},#{timeline.title},
            #{timeline.summary},#{timeline.infoSource},#{timeline.sourceUrl},#{timeline.provinceId}
            )
        </foreach>
    </insert>

    <select id="selectAll" resultType="com.qzh.epidemic.entity.Timeline">
<!--    从视图查找-->
        select *
        from `timeline_limit120`
    </select>

    <select id="selectLatest5" resultType="Timeline">
        select *
        from timeline
        order by pubDate desc
        limit 5;
    </select>


</mapper>
