<div class="header" th:fragment="header">
    <div class="am-topbar" style="margin-bottom: 0;">
        <h1 class="am-topbar-brand">
            <a class="" href="/">武汉加油！！中国加油！！</a>
        </h1>
        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
                data-am-collapse="{target: '#doc-topbar-collapse'}"><span
                class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>
        <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
            <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right">
                <li id="top-bar-map"><a href="/"><span class="am-icon-map-marker ">&nbsp;疫情地图</span></a></li>
                <li id="top-bar-epidemic"><a href="/inland"><span class="am-icon-home">&nbsp;国内疫情</span></a></li>
                <li id="top-bar-abroad"><a href="/country"><span class="am-icon-plane">&nbsp;全球疫情</span> </a></li>
                <li id="top-bar-broadcast"><a href="/timeline"><span
                        class="am-icon-history">&nbsp;本地播报</span></a></li>
                <li ><button id="province-list" class="am-btn am-btn-secondary am-topbar-btn am-round am-btn-sm"
                             data-am-offcanvas="{target: '#province-offcanvas', effect: 'push'}">快速切换</button></li>
            </ul>
        </div>
    </div>
    <div id="province-offcanvas" class="am-offcanvas" style="border-color: #FFFFFF" >
        <div class="am-offcanvas-bar am-offcanvas-bar-flip" style="background-color: #FFFFFF">
            <div class="am-offcanvas-content">
                <p>选择省份</p>
                <ul id="provinceNameAndIdList" class="am-list am-list-border">
                </ul>
            </div>
        </div>
    </div>
</div>