.d-statistic {
    border: 1px solid silver;
    box-shadow: 0 2px 5px 0 rgba(33, 22, 22, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 15px 15px 30px;
    text-align: center;
}

.divider::after{
    content: "";
    margin-top: 12px;
    margin-left: 15px;
    padding-left: 15px;
    border-left: 1px solid #d5d9e2;
    top: 50%;
    height: 45px;
    display: inline-block;
    vertical-align: middle;
}

.statistic-title{
    font-size: 18px;
}


.statistic-count {
    font-size: 26px;
    font-weight: 700;
}

.statistic-compare {
    font-size: 15px;
    color: #aaadb4;
}

.statistic-div--radius {
    border-radius: 10px;
}


.epidemic-map {
    padding: 15px 0;
}

.statistic-update-time {
    color:#aaadb4;
    margin-left: 24px;
    text-align: left;
}

.statistic-title{
    font-size: 18px;
}


.statistic-count {
    font-size: 26px;
    font-weight: 700;
}

.statistic-compare {
    font-size: 15px;
    color: #aaadb4;
}

.statistic-div--radius {
    border-radius: 10px;
}

#map-container{
    padding: 15px;
    margin-top: 15px;
    height: 640px;
    border: 1px solid silver;
    box-shadow: 0 2px 5px 0 rgba(33, 22, 22, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
