<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>武汉加油!!</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Fighting Wuhan"/>
    <link rel="stylesheet" th:href="@{/assets/css/amazeui.min.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" th:href="@{/css/country.css}"/>
</head>
<body>
<div id="app">
    <div th:replace="~{fragments/header :: header}"></div>
    <div id="main">
        <div class="am-g">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-9 am-u-sm-centered">
                <div class="d-statistic statistic-div--radius">
                    <div class="am-g">
                        <p class="statistic-update-time">更新至 [[${statistic.publishDate}]]</p>
                        <div class="am-u-lg-3 am-u-md-3 am-u-sm-3">
                            <div class="statistic-currentConfirmedCount">
                                <div class="statistic-title"><span>现有确诊</span></div>
                                <div class="statistic-count"><span style="color: #ff6054" th:if="${statistic.globalStatistics.currentConfirmedCount}!=null"
                                                                   th:text="${statistic.globalStatistics.currentConfirmedCount}">37303</span>
                                    <span th:if="${statistic.globalStatistics.currentConfirmedCount}==null">--</span>
                                </div>
                                <div class="statistic-compare">
                                    较昨日<span th:if="${statistic.globalStatistics.currentConfirmedIncr}!=null and ${statistic.globalStatistics.currentConfirmedIncr}==0">无变化</span>
                                    <span style="color: #ff5463" th:if="${statistic.globalStatistics.currentConfirmedIncr}!=null and ${statistic.globalStatistics.currentConfirmedIncr}!=0"
                                            th:text="${statistic.globalStatistics.currentConfirmedIncr } > 0 ? ${'+'+statistic.globalStatistics.currentConfirmedIncr} : ${statistic.globalStatistics.currentConfirmedIncr}">-2509</span>
                                    <span th:if="${statistic.globalStatistics.currentConfirmedIncr}==null">--</span>
                                </div>
                            </div>
                        </div>
                        <div class="am-u-lg-3 am-u-md-3 am-u-sm-3">
                            <div class="statistic-confirmedCount">
                                <div class="statistic-title"><span>累计确诊</span></div>
                                <div class="statistic-count"><span style="color: red" th:if="${statistic.globalStatistics.confirmedCount}!=null"
                                                                   th:text="${statistic.globalStatistics.confirmedCount}">19394</span>
                                </div>
                                <div class="statistic-compare">
                                    较昨日 <span th:if="${statistic.globalStatistics.confirmedIncr}!=null and ${statistic.globalStatistics.confirmedIncr}==0">无变化</span>
                                    <span style="color: red" th:if="${statistic.globalStatistics.confirmedIncr}!=null and ${statistic.globalStatistics.confirmedIncr}!=0"
                                            th:text="${statistic.globalStatistics.confirmedIncr}>0 ? ${'+'+statistic.globalStatistics.confirmedIncr}: ${statistic.globalStatistics.confirmedIncr}">+430</span>
                                    <span th:if="${statistic.globalStatistics.confirmedIncr}==null">--</span>
                                </div>
                            </div>
                        </div>
                        <div class="am-u-lg-3 am-u-md-3 am-u-sm-3">
                            <div class="statistic-curedCount">
                                <div class="statistic-title"><span>累计治愈</span></div>
                                <div class="statistic-count"><span style="color: #51c8b7" th:if="${statistic.globalStatistics.curedCount}!=null"
                                                                   th:text="${statistic.globalStatistics.curedCount}">39253</span></div>
                                <div class="statistic-compare">
                                    较昨日<span th:if="${statistic.globalStatistics.curedIncr}!=null and ${statistic.globalStatistics.curedIncr}==0">无变化</span>
                                    <span style="color: #51c8b7" th:if="${statistic.globalStatistics.curedIncr}!=null and ${statistic.globalStatistics.curedIncr}!=0"
                                            th:text="${statistic.globalStatistics.curedIncr}>0 ? ${'+'+statistic.globalStatistics.curedIncr}: ${statistic.globalStatistics.curedIncr}">+2892</span>
                                    <span th:if="${statistic.globalStatistics.curedIncr}==null">--</span>
                                </div>
                            </div>
                        </div>
                        <div class="am-u-lg-3 am-u-md-3 am-u-sm-3">
                            <div class="statistic-deadCount">
                                <div class="statistic-title"><span>累计死亡</span></div>
                                <div class="statistic-count"><span style="color: rgba(42,46,48,0.89)" th:if="${statistic.globalStatistics.deadCount}!=null"
                                                                   th:text="${statistic.globalStatistics.deadCount}">2838</span></div>
                                <div class="statistic-compare">
                                    较昨日<span th:if="${statistic.globalStatistics.deadIncr}!=null and ${statistic.globalStatistics.deadIncr}==0">无变化</span>
                                    <span style="color: rgba(42,46,48,0.89)" th:if="${statistic.globalStatistics.deadIncr}!=null and ${statistic.globalStatistics.deadIncr}!=0"
                                            th:text="${statistic.globalStatistics.deadIncr}>0 ? ${'+'+statistic.globalStatistics.deadIncr}: ${statistic.globalStatistics.deadIncr}">+47</span>
                                    <span th:if="${statistic.globalStatistics.deadIncr}==null">--</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="epidemic-country am-scrollable-horizontal">
                    <div class="am-u-lg-3 am-u-md-4 am-u-sm-6">
                        <form class="am-form">
                            <div class="am-form-group am-form-group-sm">
                                <select id="continents-select" class="am-radius">
                                    <option value="亚洲" selected="selected">亚洲</option>
                                    <option value="欧洲">欧洲</option>
                                    <option value="北美洲">北美洲</option>
                                    <option value="南美洲">南美洲</option>
                                    <option value="大洋洲">大洋洲</option>
                                    <option value="非洲">非洲</option>
                                    <option value="其他">其他</option>
                                </select>
                                <span class="am-form-caret"></span>
                            </div>
                        </form>
                    </div>
                    <table class="am-table am-table-compact am-table-centered am-text-nowrap">
                        <thead>
                        <tr>
                            <th>国家</th>
                            <th class="data-increase">现存确诊</th>
                            <th>累计确诊</th>
                            <th>治愈</th>
                            <th>死亡</th>
                        </tr>
                        </thead>
                        <tbody id="country-table-body">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/tip::tip"></div>
    <footer th:replace="fragments/footer :: footer"></footer>
</div>
</body>
<!--[if (gte IE 9)|!(IE)]><!-->
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/js/paging_plugin.js}"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script th:src="@{/assets/js/amazeui.min.js}"></script>
<script th:src="@{/js/country.js}"></script>
<script th:src="@{/js/all.js}"></script>
</html>