<!DOCTYPE>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>武汉加油!!</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Fighting Wuhan"/>
    <link rel="stylesheet" th:href="@{/assets/css/amazeui.min.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" th:href="@{/css/inland.css}"/>
</head>
<body>
<div id="app">
    <div th:replace="~{fragments/header :: header}"></div>
    <div id="main">
        <div class="am-g">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-9 am-u-sm-centered">
                <div class="epidemic-inland am-scrollable-horizontal">
                    <table class="am-table am-table-compact am-table-centered am-text-nowrap">
                        <thead>
                        <tr>
                            <th>地区</th>
                            <th class="data-increase">现存确诊</th>
                            <th>累计确诊</th>
                            <th>治愈</th>
                            <th>死亡</th>
                            <th>疫情</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="areaStat:${areaStats}" th:object="${areaStat}">
                            <td th:text="*{provinceShortName}">湖北</td>
                            <td class="data-increase" th:if="${areaStat.currentConfirmedCount}!= null" th:text="*{currentConfirmedCount}">196</td>
                            <td class="data-increase" th:if="${areaStat.currentConfirmedCount}== null">--</td>

                            <td th:if="${areaStat.confirmedCount}!= null" th:text="*{confirmedCount}">30543</td>
                            <td th:if="${areaStat.confirmedCount}== null">--</td>

                            <td th:if="${areaStat.curedCount}!= null" th:text="*{curedCount}">33757</td>
                            <td th:if="${areaStat.curedCount}== null">--</td>

                            <td th:if="${areaStat.deadCount}!= null" th:text="*{deadCount}">2803</td>
                            <td th:if="${areaStat.deadCount}== null">--</td>
                            <td><a class="am-btn am-btn-link am-btn-sm" th:href="'/province/'+ *{locationId}">详情</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/tip::tip"></div>
    <footer th:replace="fragments/footer :: footer"></footer>
</div>
</body>
<!--[if (gte IE 9)|!(IE)]><!-->
<script th:src="@{/assets/js/jquery.min.js}"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script th:src="@{/assets/js/amazeui.min.js}"></script>
<script th:src="@{/js/inland.js}"></script>
<script th:src="@{/js/all.js}"></script>
</html>